{{!-- user dashboard front end will be here --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzit</title>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <base href="/">
</head>
<body>
    {{>header}}
   <div class="container">
            <a href="/" class="">yash</a>
           <h1 class="head1">yash goswami</h1>
   </div>
   <script src="/js/nav.js"></script>
</body>
</html>