*{
    margin: 0;
    padding: 0;
}

body{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:6rem 1fr;
    /* grid-template-areas:"navbar navbar navbar"
    "container container container"; */
}
.navbar{
    grid-area:"navbar";
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
}
.container{
    grid-area: "container";
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
    width:100%;
    height:71vh;
    display:grid;
   align-items:center;
   justify-items:center;
}