<nav>
    <div class="logo">
        <h1>Quizzit</h1>
        {{!-- <img src="logo.svg" alt="Logo Image"> --}}
    </div>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li><a class="navl" href="#">Home</a></li>
        <li><a class="navl" href="#">Solutions</a></li>
        <li><a class="navl" href="#">Products</a></li>
        <li><a class="navl" href="#">Services</a></li>
        <li><a class="navl" href="/admin">admin</a></li>
        {{#if session.username}}
         <li><a class="navl" href="#">{{session.username}}</a></li>
          <li><a class="navl" href="/logout">logout</a></li>
        {{!-- <li><button class="login-button"><a class="bt" href="/logout">logout</a></button></li> --}}
        {{else}} 
        <li><a class="navl" href="/login">login</a></li>
       <li><a class="navl" href="/signup">signup</a></li>
      
        {{!-- <li><button class="login-button"><a class="bt" href="/login">login </a></button></li>
        <li><button class="join-button"><a class="bt" href="/signup">signup</a></button></li> --}}
        {{/if}}
    </ul>
</nav>